extends ../../_layout.pug

block content
  - var $tg = locale.general;
  - var $t = locale.typography;
  - var $fn = locals.fn;

  h1= $t.name

  - var $block = config.font;

  each modifierConfig, modifierKey in $block.modifiers
    - var hasExampleDisabled = ['features'].includes(modifierKey);

    h2= modifierConfig.name

    table
      thead
        tr
          th= $tg.class
          th= $tg.states.enabled
          if (hasExampleDisabled)
            th= $tg.states.disabled
      tbody
        each optionConfig, optionIndex in modifierConfig.options
          - var classModifier = $fn.className($block.name, '', modifierConfig.name, optionConfig.name);
          - var examples = $fn.getExamples($t, 'font', modifierKey, optionConfig.value);
          tr
            td
              pre= classModifier
            td
              if examples && examples[0]
                each example, exampleIndex in examples
                  span(class=classModifier)= example
              else
                span(class=classModifier)= $t.pangram
            if (hasExampleDisabled)
              td
                if examples && examples[0]
                  each example, exampleIndex in examples
                    span.font= example
