doctype html
html
  head
    meta(charset="utf-8")
    title Kanoe UI - #{ title }
    block head
    link(
      href="/src/_docs.styl"
      rel="stylesheet"
    )
    link(
      href="/src/index.styl"
      rel="stylesheet"
    )

  body.doc_grid_bg.doc_hover
    nav
      ul(class=config.list.name)
        each item, key in locale
          if (item.url)
            li
              a(href=item.url)= item.name
    block content
      h1 #{ title }
